@-webkit-keyframes drawCard{
	from{
		-webkit-transform:rotateY(-180deg) translateZ(200px);
	}
	to{
		-webkit-transform:rotateY(0deg) translateZ(0px);
	}
}

@keyframes drawCard{
	from{
		-webkit-transform:rotateY(-180deg) translateZ(200px);
	}
	to{
		-webkit-transform:rotateY(0deg) translateZ(0px);
	}
}

@-webkit-keyframes throwCard{
	from{
		-webkit-transform:translateZ(0px);
		opacity:1;
	}
	to{
		-webkit-transform:translateZ(-100px);
		opacity:0;
	}
}

@keyframes throwCard{
	from{
		transform:translateZ(0px);
		opacity:1;
	}
	to{
		transform:translateZ(100px);
		opacity:0;
	}
}

@-webkit-keyframes messageFlyin{
	0%{
		-webkit-transform:translateZ(150px);
	}
	100%{
		-webkit-transform:translateZ(150px) scale(1.2);
	}
}

@keyframes messageFlyin{
	0%{
		transform:translateZ(150px);
	}
	100%{
		transform:translateZ(150px) scale(1.2);
	}
}

@-webkit-keyframes shakeText{
	0%{
		-webkit-transform:rotate(-1deg);
	}
	100%{
		-webkit-transform:rotate(1deg);
	}
}

@keyframes shakeText{
	0%{
		transform:rotate(-1deg);
	}
	100%{
		transform:rotate(1deg);
	}
}