@-webkit-keyframes drawCard{
	from{
		-webkit-transform:rotateY(-180deg) translateZ(200px);
	}
	to{
		-webkit-transform:rotateY(0deg) translateZ(0px);
	}
}

@keyframes drawCard{
	from{
		-webkit-transform:rotateY(-180deg) translateZ(200px);
	}
	to{
		-webkit-transform:rotateY(0deg) translateZ(0px);
	}
}

@-webkit-keyframes throwCard{
	from{
		-webkit-transform:translateZ(0px);
		opacity:1;
	}
	to{
		-webkit-transform:translateZ(-100px);
		opacity:0;
	}
}

@keyframes throwCard{
	from{
		transform:translateZ(0px);
		opacity:1;
	}
	to{
		transform:translateZ(100px);
		opacity:0;
	}
}

@-webkit-keyframes messageFlyin{
	0%{
		left:-100%;	
	}
	25%{
		left:50%;
	}
	100%{
		left:50%;
	}
}

@keyframes messageFlyin{
	0%{
		left:-100%;	
	}
	25%{
		left:50%;
	}
	100%{
		left:50%;
	}
}